{
    "version": "2017-02-28",
    "operation": "Invoke",
    "payload": {
        "resolvers": [{"resolverClass": "resolvers.authentication.Authenticate", "args": [], "kwargs": {}},{"resolverClass": "resolvers.queryFactory.getItems", "args": [], "kwargs": {}}],
        "source" : $utils.toJson($context.source),
        "identity" : $utils.toJson($context.identity),
        "arguments":  $utils.toJson($context.arguments),
        "headers":  $utils.toJson($context.request.headers)
    }
}